<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="template">
      <!--  jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Isolated Version of Bootstrap, not needed if your site already uses Bootstrap -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Datepicker</title>
    
  	<link th:href="@{/css/cal.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
<title>Insert</title>

</head>
<body style="background-color: ivory;">

<div layout:fragment="content">
<form method="post" th:object="${date}">
    <main class="container mb-3">
        <header class="col-sm-12">
            <label for="datetimepicker1" class="col-sm-2 col-form-label">Pick Date and Time</label>
        </header>
        <section class="col-sm-4">
            <div class="form-group">
                <div class='input-group date' id='datetimepicker1'>
                    <input type='text' class="form-control" name="dateAndTime" required/>
                    <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                </div>
            </div>

        </section>
        <footer>

        </footer>
    </main>
    <script type="text/javascript">
   
        $(function() {
            $('#datetimepicker1').datetimepicker();
            
        });
    </script>
    
    
    
  <div class="row mb-3">
    <label for="inputtopic" class="col-sm-2 col-form-label">Topic</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputtopic" name="topic">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputwith" class="col-sm-2 col-form-label">With</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputwith" name="con">
    </div>
  </div>
 <div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Reminder</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="4" name="reminder"></textarea>
</div>
 
  <button type="submit" th:formaction=@{/save} class="btn btn-primary">Add</button>
  <button type="submit" th:formaction="@{/save-view}" class="btn btn-primary">Add and view</button>
<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
</form>





</div>
</body>
</html>